# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*.log

# dependencies
/node_modules
/.pnp
.pnp.js
# *-lock.json
yarn.lock

# testing
/coverage

# production
/build

# misc
.eslintcache
.DS_Store
.env
.env.local
.env.*.local
.auth0*
auth0-variables.json
buildDate.json
/public/fonts
/public/electronExtensions.js
env-config/env-files*.zip

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vim
*.sw*

build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
